/* xs */
/* @media(min-width: 475px){

} */

/* s */
/* @media(min-width: 640px){

} */

/* m */
/* @media(min-width: 768px){

} */

/* l */
/* @media(min-width: 1024px){

} */

/* xl */
/* @media(min-width: 1280px){

} */

/* xxl */
/* @media(min-width: 1536px){

} */

.container{
    width: 100%; /* use of % acceptable on small screens*/
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    padding: 1rem;

    background-color: antiquewhite;
    border: 2px outset antiquewhite;
    /* border: 1px solid red; */
}

.clover-subsection {
    color: var(--clr-light);
    text-shadow: 2px 2px 15px black;
    border: 2px inset;
    background-image: url('../assets/backgrounds/clovers.gif');
    padding: 1rem;
}

.texture-subsection {
    color: var(--clr-light);
    border: 2px inset;
    background-image: url('../assets/backgrounds/texture_section.gif');
    padding: 1rem;
}

.blue-subsection {
    color: var(--clr-light);
    border: 2px inset;
    background-image: url('../assets/backgrounds/blue.jpg');
    padding: 1rem;
}

.red-subsection {
    color: var(--clr-light);
    border: 2px inset;
    background-image: url('../assets/backgrounds/red.jpg');
    padding: 1rem;
}

.p-dark-red {
    color: var(--clr-dark);

    strong {
        color: var(--clr-rose)
    }
}

.p-dark-emerald {
    color: var(--clr-dark);

    strong {
        color: var(--clr-emerald)
    }
}

.centered-image {
    margin: 0 auto;
}

.spotify-player {
    width: 90%;
}

/* xs */
@media(min-width: 475px){
    .container{
        max-width: 475px;
    }
}

/* s */
@media(min-width: 640px){
    .container{
        max-width: 640px;
    }
}

/* m */
@media(min-width: 768px){
    .container{
        max-width: 768px;
    }
}

/* l */
@media(min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}

/* xl */
@media(min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/* xxl */
@media(min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}