.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.5em;
    align-items: center;
    color: antiquewhite;
    /* background-color: var(--clr-rose); */
    background-image: url('../../assets/backgrounds/brown.jpg');
}

.header h1 {
    font-size: var(--size-3xl);
    color: var(--clr-light);
}

.header__image {
    height: var(--size-5xl);
    width: auto;
}

.header__menu {
    font-size: var(--size-base);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    align-items: center;
    list-style: none;
    padding: 0;
}

.header__menu .icon-button {
    justify-self: stretch;
}

@media(min-width: 768px){
    .header__menu {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        flex-direction: row;
    }
}