.skills-image {
    width: 10rem;
    height: auto;
    margin-top: 2rem;
}

.skill-list{
    max-width: 50ch;
}

.column-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    /* gap: 10rem */
}

.other-skills {
    display: flex;
    flex-direction: column-reverse;
}

/* l */
@media(min-width: 1024px){
    .skills-image {
        margin-top: 0rem;
    }

    .column-container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .other-skills {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }   
}