.persistent-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(56, 56, 38);
  color: var(--clr-light);
  text-align: center;
}

.webgl-canvas {
  border: 2px inset;
}